:root {
    --bg-color: dimgray;
    --loader-color: black;
    --loader-internal: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html, #app {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
